/* data play from API */
/* .product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.product-item {
  width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
}

.product-category {
  margin-top: 5px;
  font-style: italic;
}

.product-description {
  margin-top: 10px;
}
.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}
.card{
  margin-top: 80px;
}
.cart-icon {
  
  color: green;
  font-size: 50px;
  float:right ;
 }
 .cart-icon:hover{
   color: #000;
 }
@media screen and (max-width: 1199px) {
  .product-item {
    width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .product-item {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    padding: 15px;
    margin-bottom: 15px;
  }
} */
/* data play from API */
.my-alert {
  /* Center the alert horizontally and vertically */
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px; /* Adjust the width of the alert */
}
.product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.product-item {
  width: 300px;
  
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-image img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-details h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.product-price {
  margin-top: 5px;
}

.product-category {
  margin-top: 5px;
  font-style: italic;
}

.product-description {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}
.card {
  margin-top: 80px;
}
.cart-icon {
  /* margin-left: 15px; */
  color: green;
  font-size: 50px;
  float: right;
}
.cart-icon:hover {
  color: #000;
}
.card-css{
  margin-top: 100px;
}

@media screen and (max-width: 1199px) {
  .product-item {
    width: 250px;
  }
}

@media screen and (max-width: 991px) {
  .product-item {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .product-item {
    width: 48%;
    margin-bottom: 20px;
  }
  .product-list {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .product-item {
    width: 95%;
    padding: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .product-item {
    width: 40%;
    margin: 5px;
    margin-bottom: 15px;
  }
}


